<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../static/css/header/header.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/public/index.css"/>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<link rel="stylesheet" href="../../static/css/base.css" />
		<title></title>
		<style>
			.cq-content{
				float: left;
				width:180px;
				margin: 0 5px 0 0;
			}
			.cp-content{
				float: left;
				width:760px;
			}
			
			.classInfo{
				text-align: center;

			}
			.classInfo .img	img{
				width: 88px;
				height: 88px;
				border-radius: 88px;
				
			}
			.column2{
				width:200px
			}
			.menu ul{
				padding:  0 0 0 0;
				margin:  0 0 0 0;
				
			}
			.menu ul li{
				padding: 5px;
			}
			.menu ul li a img{
				width: 16px;
				height: 16px;
				
			}
			.footer{
				position: absolute;
				bottom: 20px;
				right: 20px;
			}
	
		</style>
		
	</head>
	<body >
		<div class="header" id="header">
			<div class="icon">
				<img src="../../static/img/icon.png" class="img" />
			</div>
			
			<ul>
				<li>
					<a href="index2teacher.html" style="color: white;">课堂管理</a>
					
					
				</li>
				
				
				
			</ul>
			<div class="right">
				<a href="" >
					购物车
				</a>
				<a href="">
					登录
				</a>
				<a href="">
					注册
				</a>
					
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="bodyer">
			
			<div class="bodyCenter">
				<div class="cq-content">
					<div class="module-box">
						<div class="classInfo"> 
							<div class="img">
								<img src="http://localhost:8080/resource/seofhsohflkzshbfclzjk.jpg" alt="" />
							</div>
							<div class="className">
								javaEE企业级开发
							</div>
							<div class="classDesc">
								周三1-2节课
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="module-box">
						<div class="menu">
						<ul>
							<li>	
								<a onclick="go('enterOneClass.html')">
									<img src="../../static/img/teacher/列表.png" alt="" />
									<span>班级列表</span>
								</a>
							</li>
							<li>	
								<a onclick="go('enterOneClassTest.html')">
									<img src="../../static/img/teacher/考试.png" alt="" />
									<span>考试信息</span>
								</a>
							</li>
							<li>	
								<a onclick="go('enterOneClassSign.html')">
									<img src="../../static/img/teacher/签到.png" alt="" />
									<span>班级签到</span>
								</a>
							</li>
							<li>	
								<a onclick="go('enterOneClassNotice.html')">
									<img src="../../static/img/teacher/公告发布.png" alt="" />
									<span>发布公告</span>
								</a>
							</li>
							<li>	
								<a onclick="go('enterOneClassResource.html')">
									<img src="../../static/img/teacher/上传.png" alt="" />
									<span>资源管理</span>
								</a>
							</li>
							<li>	
								<a onclick="go('enterOneClassHomework.html')">
									<img src="../../static/img/teacher/作业.png" alt="" />
									<span>作业信息</span>
								</a>
							</li>
							
						</ul>
						</div>
					</div>
				
					
					
				</div>
				<div class="cp-content">
					<div class="module-box">
						<h1 class="h1">
							作业信息
							<div style="text-align: right;float: right;">
								<button class="btn" onclick="publish()">发布新作业</button>
							</div>
							
							<div class="clear"></div>
						</h1>
						<div class="stat-list">
							<div class="list-head">
								<div class="item column2">作业描述</div>
								<div class="item column1">截至时间</div>
								<div class="item column2">操作</div>
								
								<div class="clear"></div>
							</div>
							<div id="homeworks">
								<div class="list-body" >
									<div class="item column2">
										请把第3周spring...
									</div>
									<div class="item column1">05-23 12:00</div>
									<div class="item column2">
										<a href="" style="color: red;">修改</a>
										<a href="" style="color: #00BC9B;" >未上交列表</a>
										<a onclick="submit()" style="color: #00BC9B;">上交下载</a>
									</div>
									
									<div class="clear"></div>
								</div>
								
							</div>
							
							
							<div class="clear"></div>
						</div>
						<div class="page-util">
							<ul>
								<li>首页</li>
								<li>上一页</li>
								<li class="page-util-active" style="color: #FFF;">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>									
								<li>8</li>
								<li>下一页</li>
								<li>末页</li>
							</ul>
						</div>
						<div class="clear"></div>
						
					</div>
					
				</div>	
				
			</div>
			
			
			
		</div>
		
		
		<div class="footer">
			
		</div>
		
		
	</body>

	
	<div id="dialog" class="dialog">
		<div class="title">
			<input type="text" class="input" placeholder="作业名" />
			
		</div>
		<div class="content">
			<input type="text" placeholder="作业的详细描述" class="input" style="width: 360px;height: 200px;" />
			<input type="text" placeholder="天数" class="input" style="width: 100px;height: 50px;" />
		</div>
		<div class="footer">
			<button class="btn" onclick="publishHomeWork()">发布作业</button>
			<button class="btn" onclick="hideDialog()">取消</button>	
			
		</div>
		
	</div>
	<div id="submitedList" class="dialog">
		<div class="title">
			
			
		</div>
		<div class="content">
			<div class="stat-list" >
				<div class="list-head">
					<div class="item column1">学号</div>
					<div class="item column1">姓名</div>
					<div class="item column1">操作</div>
					
					<div class="clear"></div>
				</div>
				<div id="students">
					<div class="list-body"  >
						
						<div class="item column1"> 12</div>
						<div class="item column1">陈其淇</div>
						<div class="item column1"><a href="" style="color: red;">下载</a></div>
						
						<div class="clear"></div>
					</div>
									
				</div>
				
				
				
				
				<div class="clear"></div>
				
			</div>
		</div>
		<div class="footer">
			<button class="btn" onclick="hideDialog()">上一页</button>
			<button class="btn" onclick="hideDialog()">下一页</button>
			<button class="btn" onclick="hideDialog()">关闭</button>	
			
		</div>
	</div>
	<div id="addHomeWork" class="dialog">
		<div>
			<input type="text" class="input" />
			<button class="btn">发布作业</button>
			
		</div>
		<div>
			请输入的
			
		</div>
		
	</div>
	
	<div id="mask" class="mask"></div>
</html>
<script>

	
</script>
<script type="text/javascript" src="../../static/js/font.js"></script>
<script type="text/javascript" src="../../static/js/base.js" ></script>
<script type="text/javascript" src="../../static/js/teacher.js" ></script>

<script>
	function submit(){
		showDialog({
			id:"submitedList",
			width:400,
			height:400
			
		})
		
	}
	
	
	selectHomeWorkListByClassNumber();
	function selectHomeWorkListByClassNumber(){
		$.ajax({
			type:"get",
			url:controllerUrl+"homework_info/select_homework_list_by_class_number",
			async:true,
			dataType:"json",
			data:{
				classNumber:url("classNumber"),
				first:1,
				each:10,
				
			},success:function(data){
				console.log(data);
				new Vue({
					el:"#homeworks",
					data:{
						datas:data.data
					},
					
				})
				
			}
		});
		
		
	}
	function addHomeWork(){
		
		showDialog({
			id:"#dialog",
			width:400,
			height:400,
			
			
		});
		
		
		
	}
	function publish(){
		showDialog({
			id:"#dialog",
			width:400,
			height:400,
			
			
		});
		
		
		if(title.value==""){
			$("#title").focus();
			return;
			
		}
		if(title.value==""){
			$("#content").focus();
			return;
		}
		if(day.value==""){
			$("#day").focus();
			return;
		}
		
		$.ajax({
			type:"get",
			url:controllerUrl+"homework_info/publishHomeWork",
			async:true,
			data:{
				title:title.value,
				content:content.value,
				day:day.value,
				classNumber:url("classNumber"),
				token:localStorage["token"]
			},success:function(data){
				if(data.info=="no_permission"){
					show("权限不足")
				}else if(data.info=="success"){
					show("发布成功")
				}
				
			}
		});
		hideDialog();
		
		
	}
	
	
	
	
</script>



