<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../static/css/header/header.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/public/index.css"/>
	<link rel="stylesheet" href="../../static/css/base.css" />
	<style>
		h2{
			font-weight: 400;
			font-size: 16px;
		}
		.column1{
			
			width: 300px;
		}
		
		.showblock{
				cursor: pointer;
				margin: 10px 5px 0 5px;
				float: left;
				border:1px solid #ccc;
				width: 200px;
				height: 200px;
				text-align:  center;
			}
			.showblock h1{
				margin: 10px 0 0 0 ;
				line-height: 30px;
				font-weight: 400;
				font-size: 20px;
			}
			.showblock img{
				
				width: 90px;
				height: 90px;
				border-radius: 90px;
				
			}
			.showblock .imgCenter {
				margin: 20px 0 0 0;
				text-align: center;
			}
			.showblock h2{
				
			}
			.showblock:hover .t1{
				display: none;
			}
			.showblock:hover .t2{
				display: block;
			}
			.showblock .t2{
				display: none;
			}
		
	</style>
</head>
<body>
	<div class="header" id="header">
		<div class="icon">
			<img src="../../static/img/icon.png" class="img" />
		</div>
		
		<ul>
			<li>
				<a href="../index/index2login.html">学生课堂</a>
				
				
			</li>
			<li>
				<a href="../questionArea/index.html">问答专区</a>
			</li>
			<li>
				<a href="oneQuestion.html"  style="color: white;">题库</a>
			</li>
			
			
		</ul>
		<div class="right">
			<a href="" >
				购物车
			</a>
			<a href="">
				登录
			</a>
			<a href="">
				注册
			</a>
				
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="bodyer">
		<div class="bodyCenter">
			<div class="module-box">
				<h1 class="h1">专题训练</h1>
				<div class="questions" id="sts">
					<div class="showblock" v-for="data in datas" >
						<a href="oneQuestion.html">
							<h1>{{data.name}}</h1>
							<div class="t1">
								<div class="imgCenter">
									<img v-bind:src="['http://localhost:8080/resource/'+data.imgUrl]"/>
								</div>
								<h2>活跃度:0</h2>
							</div>
							<div class="t2">
								<span>{{data.schoolName}}</span>
								<div>
									<button class="btn" >进行练习</button>
								</div>
								
							</div>
						</a>
						
					</div>
					
					<div class="clear"></div>
				</div>
			</div>
			<div class="module-box">
				<h1 class="h1">全部习题选择</h1>
				<div class="stat-list">
					<div class="list-head">
						<div class="item column0"></div>
						<div class="item column1">题目</div>
						<div class="item column2">标签</div>
						<div class="item column3">热度</div>
						<div class="item column4">通过率</div>
						<div class="item column5"></div>
						<div class="clear"></div>
					</div>
					<div class="list-body">
						<div class="item column0"><span class="radio"></span></div>
						<div class="item column1">什么是算法</div>
						<div class="item column2">数据结构</div>
						<div class="item column3">12</div>
						<div class="item column4">0.00%</div>
						<div class="item column5"><button  class="btn">进入答题</button></div>
						<div class="clear"></div>
					</div>
					<div class="list-body">
						<div class="item column0"><span class="radio"></span></div>
						<div class="item column1">LL（1）的基础是？</div>
						<div class="item column2">编译原理</div>
						<div class="item column3">3</div>
						<div class="item column4">0.00%</div>
						<div class="item column5"><button  class="btn">进入答题</button></div>
						<div class="clear"></div>
					</div>
					<div class="list-body">
						<div class="item column0"><span class="radio"></span></div>
						<div class="item column1">什么是算法</div>
						<div class="item column2">数据结构</div>
						<div class="item column3">12</div>
						<div class="item column4">0.00%</div>
						<div class="item column5"><button  class="btn">进入答题</button></div>
						<div class="clear"></div>
					</div>
					
					
					<div class="clear"></div>
				</div>
				
				
				<div class="page-util">
					<ul>
						<li>首页</li>
						<li>上一页</li>
						<li class="page-util-active" style="color: #FFF;">1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>6</li>
						<li>7</li>
						<li>8</li>
						<li>下一页</li>
						<li>末页</li>
					</ul>
					<div class="clear"></div>
				</div>
				 
			</div>
			
		</div>
		
	</div>
	
	
</body>
</html>
<script type="text/javascript" src="../../static/js/jquery/jquery-3.3.1.min.js" ></script>
<script src="../../static/js/font.js"></script>
<script type="text/javascript" src="../../static/js/base.js" ></script>
<script src="../../static/js/vue.js"></script>
<script>
	
	getSpecialTrainingByPage();
	function getSpecialTrainingByPage(){
		$.ajax({
			type:"get",
			url:controllerUrl+"special_training/getSpecialTrainingByPage",
			async:true,
			dataType:"json",
			data:{
				first:1,
				each:8,
				
			},success:function(data){
				console.log(data);
				new Vue({
					el:"#sts",
					data:{
						datas:data.data
					}
					
				})
				
			},error:function(data){
				
			}
		});		
	}


	

	

	

	

	

	

</script>