.bodyer .img{
	width: 100%;
	height: 100%;
	float:left;
}

.fitstLine{
	width: 3rem;
	height: 0.3rem;
	color: white;
	line-height: 0.2rem;
	margin: 4.2rem 0 0 0.6rem;
	letter-spacing:0.1rem;
}
.secondLine{
	margin: 0.2rem 0 0 1rem;
	text-spacing: 0.18;
	letter-spacing: 0.12rem;
	color: white;
}
.studyButton{
	width: 2rem;
	margin: 0.3rem 0 0 2.6rem;
	border: none;			
	padding: 0.1rem 0.1rem ;
	border-radius: 0.3rem;
	outline:medium;			

	background: rgba(255, 255, 255, 0.6); 
}
.studyButton:hover{
	cursor: pointer;
	background: rgba(255, 255, 255, 0.4); 
}
.studyButton:active{
	opacity: 0.1; /*整个按钮的不透明度，会影响到文字，0完全透明，1完全不透明*/
}